@{
    ViewData["title"] = "Reporte calendario";
}
<partial name="_Submenu" model="SubmenuTransacciones.Calendario" />
<div class="row d-flex justify-content-center">
    <div class="">
        <div id="calendario">
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/fullcalendar/index.global.min.js"></script>
    <script>
        $(() => {
            const calendarioEl = document.getElementById("calendario");
            const calendario = new FullCalendar.Calendar(calendarioEl, {
                dayMaxEventRows: 3,
                initialView: "dayGridMonth",
                events:"/transacciones/ObtenerTransaccionesCalendario",
                dateClick: async function(info){
                    await buscarPorFecha(info.dateStr);
                }
            })
            calendario.render();
        })
        async function buscarPorFecha(fecha){
            const response=await fetch(`/transacciones/ObtenerTransaccionesPorFecha?fecha=${fecha}`);
            const json = await response.json();
            console.log(json);
        }
    </script>
}