@model TransaccionDTO
@{
    ViewData["title"] = "Crear";
}
<h1>Hacer una transacción</h1>
<h5>Una transacción te permite indicar tus ingresos y gastos</h5>
<form asp-action="Crear">
    <partial name="_TranForm" />
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        const url = "@Url.Action("ObtenerCategoriasForm")";
        $(() => {

            $("#TipoOperacionId").on("change", cargarOperaciones)
            cargarOperaciones();
        })
        async function cargarOperaciones() {
            const valorSelec = $("#TipoOperacionId").val();

            const respuesta = await fetch(url, {
                method: "POST",
                body: valorSelec,
                headers: {
                    "Content-Type": "application/json"
                }
            })
            const json = await respuesta.json();
            const opciones = json.map(categoria => `<option value=${categoria.value}>${categoria.text}</option>`);
            $("#CategoriaId").html(opciones);
        }
    </script>
}
