@model Categoria
@{
    ViewData["title"] = "Crear";
}
<h1>Crear Categoria</h1>
<h5>La categoria nos permite indicar en qué gastamos nuestro dinero y de donde provienen nuestros ingresos</h5>
<form asp-action="Crear">
    <partial name="_CatForm"/>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}